<div *ngIf="serviceError || (!catalog && loading == false) || (catalog.length == 0 && loading == false)">
    <p>
        <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> Something went wrong.  Please try again later.
        </ngb-alert>
    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" sortable="name" (sort)="onSort($event)">Name<div></div></th>
                        <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col" sortable="price" (sort)="onSort($event)">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of sortedCatalog; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ service.name }} </td>
                        <td>{{ service.category }}</td>
                        <td>{{ service.description }}</td>
                        <td>{{ service.price}}</td>
                        <td><button type="button" class="btn btn-primary" (click)="addToCart(i)">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <app-shopping-cart></app-shopping-cart>
        </div>
    </div>
</div>