<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" (sort)="onSort($event)">Name</th>
            <th scope="col" (sort)="onSort($event)">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of cart; let i = index">
            <td>{{ service.name }} </td>
            <td>{{ service.price}}</td>
            <td><button type="button" class="btn btn-secondary" (click)="removeFromCart(i)">Remove</button></td>
        </tr>
    </tbody>
</table>
<div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-secondary" (click)="emptyCart()">Empty Cart</button>
            </div>
            <div class="col-8">
                <button type="button" class="btn btn-primary" (click)="checkout()">Book Now</button>
            </div>
        </div>
</div>
